@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --dark-blue:#0A1D3c;
    --light-gray:#E5E5E5;
    --white:#FFF;
    --light-peach:#F9E3BC;
    --dark-gray:#3E3F43;
    --light-black:#1D1D1D;
    --blue:rgb(6,254,254);

}
.navbar{
    position:fixed;
    background-color: var(--dark-blue);
}
html{
    scroll-behavior: smooth;
}


/*------------ section-one------------ */

.section{
    min-height:100vh;
    width: 100%;
}

/* navgation bar */
nav{
    width: 100%;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    z-index: 1000;
}
.icon{
    margin-top: 2rem;
    margin-left: -5rem;
    height:4rem;
    width:4rem;
}

.logo{
    margin-top: 2.7rem;
    font-size: 1.5rem;
    font-family: 'Sora', sans-serif;
    color: var(--white);
}

header{
    width: 80%;
    height: calc(100vh - 13vh);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
}

.navlinks{
    display: flex;
}

.header-image{
    margin-top: 10rem;
    max-width: 35em;
}

.navlinks li{
    list-style:none;
}
.navlinks li a{
    text-decoration: none;
    margin-left: 2.5rem;
    color: var(--white);
    font-size: 1rem;
    letter-spacing: .03rem;
    position: relative;
}
.navlinks li a:hover{
    color: var(--blue);
}

/* Animation under nav-links */
.navlinks li a::after, .navlinks li .active::after{
    content: "";
    background: var(--dark-gray);
    position: absolute;
    height: .15rem;
    width:100%;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transition: transform .5s ease;
    transform-origin:right;
}
.navlinks li a:hover::after, .navlinks li .active::after{
    transform: scaleX(1);
    transform-origin: left;
}

/* Menu-icon */
.line{
    background: var(--dark-gray);
    width: 2.5rem;
    height: .2rem;
    margin: .38rem;
}
.menu-icon{
    cursor: pointer;
    display: none;
}

/* Product Details */
.header-heading{
    font-size: 5rem;
    
}


.product-name{
    font-size: 1.7rem;
}

.header-pricing{
    font-size: 1.5rem;
    margin: 0.8rem 0rem;
}

/* Button  */
.btn-container{
    display: flex;
    margin-top: 2rem;
}
.primary-btn,.secondary-btn{
    font-size: 1.1rem;
    border: none;
    padding: 1rem 1.7rem;
    transition: transform .5s ease-in-out;
}

.primary-btn{
    background: var(--light-gray);
}
.secondary-btn{
    background: var(--dark-blue);
    color: var(--white);
    transform: scale(1.1);
}
.primary-btn:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.secondary-btn:hover{
    transform: scale(1);
}

/*------------ section-Two------------ */
.section-two{
    display: flex;
    align-items: center;
}
.section-two-container{
    background: var(--light-peach);
    width: 100%;
    height: 50vh;
    transform: skewY(-6deg);
}

.section-two-image{
    width: 28rem;
}

.section-two-inner-container{
    transform: skewY(6deg);
    width: 80%;
    margin: auto;
}

.section-two-container,.section-two-inner-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-two-heading{
    color: var(--dark-gray);
    font-size: 3rem;
}

.section-two-para{
    font-size: 1rem;
    color: var(--dark-gray);
    line-height:1.5rem;
    max-width: 80%;
}

.section-two-price{
    font-size: 1.4rem;
    color: var(--dark-gray);
    margin: .7rem 0;
}

.section-two-btn{
    padding: .7rem 1.5rem;
    border: .1rem solid var(--light-black);
    font-size: 1rem;
    background:transparent;
    transition: transform .5s ease;
}

.section-two-btn:hover{
    transform: scale(1.1);
    cursor: pointer;
}


/* ---- section-three ---- */

.section-heading{
    font-size: 2.3rem;
    text-align: center;
    margin-bottom: 4rem;
}
.section-heading:hover{
    color:var(--dark-blue);
    transform:scale(1.1);
}

.card-container{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     text-align: center;
     gap: 3rem;
}

.card-image{
    width: 20rem;

}
.card-image:hover{
    background-color: black;
    transform:scale(1.1);
    
}

.card{
    background: var(--light-gray);
    padding: 2rem;
}

.card-price{
    font-size: 1.2rem;
    margin-top: .2rem;
    margin-bottom: 1.2rem;
}


 /* ---- Section four ----- */
 .section-four{
    display: flex;
    align-items: center;
 }

.section-four-container{
    background-image: url("watch.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.section-four-offer{
    font-size:4rem;
    color: var(--light-peach);
}

.section-four-heading{
     font-size:4rem;
     color: var(--white);
     margin-bottom: .5rem;
}

.section-four-btn{
    font-size: 1.1rem;
    padding: 1rem 1.7rem;
    background: var(--light-peach);
    border: none;
    transition: transform .5s ease;
}

.section-four-btn:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.section-four-container::before{
    content: "";
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    inset: 0;
}

.section-four-container .content{
    z-index: 5;
}

/* --- section five --- */
.grid-card-container{
    height: 80vh;
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* create 3 cols ,fr-unit of length*/
    grid-template-rows: repeat(2, 1fr);
    gap: 1.2rem;
    grid-auto-rows: 15rem;
}

.grid-card{
    background: var(--light-gray);
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.grid-card:nth-child(1){
    grid-row:1/4;
    background-image: url("rado watch.jpg");
}

.grid-card:nth-child(2){
    background-image: url("geneve watch.jpg");
}

.grid-card:nth-child(3){
    grid-row:1/3;
    background-image: url("tissot watch.jpg");
}

.grid-card:nth-child(4){
    grid-row:3/4;
    background-image: url("cartier watch.jpg");
}

.grid-card:nth-child(5){
    background-image: url("omega watch.jpg");
}

.grid-card:nth-child(6){
    background-image: url("fitron watch.jpg");
}

.grid-card::before{
    content: "";
    position: absolute;
    background: rgba(0,0,0,0.5);
    inset: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s ease-in-out;
}

.grid-card:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}
.grid-card::after{
    content:attr(collection);
    position: absolute;
    text-transform: uppercase;
    background: var(--light-peach);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1rem 1.7rem;
    font-size: 1.1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-in-out;
}

.grid-card:hover::after{
    opacity: 1;
    visibility: visible;
}

/* --- Footer --- */
footer{
    background:black;
    height: 7vh;
    width: 100%;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-txt{
    color: white;
    font-size: 1rem;
}



/* ----------Responsive for phone --------------- */
@media screen and (max-width:500px) {

    /* --- section-one---- */
    .header-image{
        margin:10px;
        display: block;
        flex-direction: column;
        max-height:400px;
        max-height:400px;

    }
    .navlinks li a{
        font-size: 1.3rem;
        margin-left: 0;
    }
    .navlinks{
        flex-direction: column;
        position: absolute;
        top: 0;
        background-color: var(--light-gray);
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        right: 100%;
        z-index: 2;
        gap: 2rem;
        transition: .5s ease-in-out;

    }

    
       .header-heading{
        display:block;
        font-size: 2.7rem;
       }
       .product-name{
        display:block;
        font-size: .93rem;
        max-width: 100%;
       }
       .header-pricing{
        display:block;
        font-size: 1.2rem;
       }
       .primary-btn,.secondary-btn{
        display:block;
    
        font-size: 1rem;
        padding: .6rem .9rem;
       }
    /* For javascript */
    .navlinks-active{
        right: 0;
    }
    .menu-icon{
        display: block;
        z-index: 5;
    }
    .logo{
        margin-top: 2.3rem;
        font-size: 1.2rem;
        z-index: 5;
    }
    .header-heading{
        display:block;
        font-size: 3rem;
    }

    header{
      
        justify-content: start;
    }

   /* ---- section-two ---- */
   .section-two-image{
    display: block;
    }
   .section-two-heading{
    display:block;
    font-size: 2.7rem;
   }
   .section-two-para{
    display:block;
    font-size: .93rem;
    max-width: 100%;
   }
   .section-two-price{
    display:block;
    font-size: 1.2rem;
   }
   .section-two-btn{
    display:block;

    font-size: 1rem;
    padding: .6rem .9rem;
   }
   .section-two-container{
    display:block;

    height: 60vh;
   }
   .section-two-inner-container{
    display:block;

    width: 90%;
   }

   /* --- section Three ---- */
   .card-image{
       width:17rem;
   }

   /* --- section four --- */
   .section-four-heading{
      font-size: 2.8rem;
   }  
   .section-four-offer{
    font-size: 3.3rem;
   }
   .section-four-btn{
     font-size: 1rem;
   }

   /* --- section five --- */
   .grid-card-container{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 90%;
   }

   .grid-card:nth-child(1),.grid-card:nth-child(3){
    grid-row: 1/2;
   }
}
